$verde: #568455;
$verdeOscuro : #2b5e2a;
$verdeGris: rgb(89, 117, 89);
$blanco: white;
$karantina: "Karantina";
$sanSerif : "sans-serif";
$negro: black;
$gris:grey;
$grisOscuro: rgb(58, 58, 58);
$grisClaro: rgb(214, 214, 214);