@import '_variables';


body, html {
    margin: 0;
    padding: 0;
    margin-top: -2%;
    font-family: $karantina;
    font-size: 110%;
    overflow: hidden; 
}

.contacto {
    width: 80%;
    max-width: 600px;
    margin: 70px auto;
    padding: 6%;

    .redes-sociales {
        text-align: center;
        margin-top: 2%;

        img {
            width: 5%;
            margin: 0 2%;
        }
    }
    .info-contacto {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin-top: 2%;
        font-size: 120%;
    }

    h2 {
        text-align: center;
        font-size: 200%;
    }

    form {
        background-color: $blanco;
        padding: 2%;
        border-radius: 8px;

        .form-group {
            margin-bottom: 2%;
        }

        label {
            font-weight: bold;
            font-size: 130%;
        }
        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 2%;
            border: 1px solid $gris;
            border-radius: 4px;
            font-size: 110%;
        }

        button {
            font-family: $karantina;
            width: 105%;
            padding: 2%;
            border: none;
            border-radius: 4px;
            background-color: $verde;
            color: $blanco;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 130%;

            &:hover {
                background-color: $verdeOscuro;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .contacto {
        
        width: 80%;
        max-width: 90%;
        padding: 6%;
        margin-top: 30%;
        .redes-sociales {
            margin-top: 4%;
    
            img {
                width: 8%;
                margin: 0 4%;
            }
        }
        .info-contacto {
            margin-top: 4%;
            font-size: 250%;
        }
    
        h2 {
            font-size: 450%;
        }
    
        form {
            padding: 4%;
    
            label {
                font-size: 250%;
            }
    
            input[type="text"],
            input[type="email"],
            textarea {
                font-size: 220%;
            }
    
            button {
                font-size: 270%;
                padding: 3%;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .contacto {
        
        width: 80%;
        max-width: 90%;
        padding: 6%;
        margin-top: 30%;
        .redes-sociales {
            margin-top: 4%;
    
            img {
                width: 8%;
                margin: 0 4%;
            }
        }
        .info-contacto {
            margin-top: 4%;
            font-size: 100%;
        }
    
        h2 {
            font-size: 140%;
        }
    
        form {
            padding: 4%;
    
            label {
                font-size: 100%;
            }
    
            input[type="text"],
            input[type="email"],
            textarea {
                font-size: 80%;
            }
    
            button {
                font-size: 100%;
                padding: 3%;
            }
        }
    }
}