@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "sans-serif";
  color: black;
  background-image: url(../img/medicos.jpg);
  background-size: cover;
  background-position: center;
}
body .signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body .signupFrm .volverAtras {
  width: 7vh;
}
body .signupFrm .form {
  background-color: white;
  width: 70%;
  height: 80;
  max-width: 40em;
  border-radius: 1.6em;
  padding: 5% 8%;
  box-shadow: 0 0.625em 1.5em rgba(92, 99, 105, 0.2);
}
body .signupFrm .form .imageContainer {
  display: flex;
}
body .signupFrm .form .imageContainer .volverAtras {
  justify-content: flex-start;
}
@media screen and (max-width: 1000px) {
  body .signupFrm .form .imageContainer .volverAtras {
    width: 4vh;
  }
}
body .signupFrm .form .imageContainer .tituloPrincipal {
  display: flex;
  margin-left: 6%;
  text-align: center;
}
body .signupFrm .form .imageContainer .tituloPrincipal .logo {
  width: 20%;
}
body .signupFrm .form .imageContainer .tituloPrincipal .title {
  font-size: 200%;
  margin-bottom: 2em;
  color: #2b5e2a;
}
@media screen and (max-width: 1000px) {
  body .signupFrm .form .imageContainer .tituloPrincipal .title {
    font-size: 130%;
  }
}
body .signupFrm .form a:link {
  color: #2b5e2a;
}
body .signupFrm .form a:hover {
  color: #2b5e2a;
}
body .signupFrm .form a:visited {
  color: #2b5e2a;
}
@media screen and (max-width: 1000px) {
  body .signupFrm .form a {
    font-size: 80%;
  }
}
body .signupFrm .form .inputContainer {
  position: relative;
  height: 3.125em;
  margin-bottom: 0.9375em;
}
body .signupFrm .form .inputContainer .input {
  width: 100%;
  height: 100%;
  border: 0.0625em solid #2b5e2a;
  border-radius: 0.4375em;
  font-size: 1em;
  padding: 0 0.9375em;
  outline: none;
  background: none;
}
body .signupFrm .form .inputContainer .input::-moz-placeholder {
  color: grey;
}
body .signupFrm .form .inputContainer .input::placeholder {
  color: grey;
}
body .signupFrm .form .inputContainer .input:not(:-moz-placeholder-shown) + .label {
  top: -0.75em;
  font-size: 0.8em;
  background-color: white;
  padding: 0 0.3125em;
  color: #2b5e2a;
}
body .signupFrm .form .inputContainer .input:focus + .label, body .signupFrm .form .inputContainer .input:not(:placeholder-shown) + .label {
  top: -0.75em;
  font-size: 0.8em;
  background-color: white;
  padding: 0 0.3125em;
  color: #2b5e2a;
}
body .signupFrm .form .inputContainer .input:focus {
  border: 0.125em solid #2b5e2a;
}
body .signupFrm .form .inputContainer .label {
  position: absolute;
  top: -0.75em;
  left: 0.9375em;
  font-size: 0.8em;
  color: #2b5e2a;
  transition: 0.3s ease-out;
  background-color: white;
  padding: 0 0.3125em;
}
body .signupFrm .form .submitBtn {
  display: block;
  margin-left: auto;
  padding: 0.625em 1.25em;
  border: none;
  background-color: #2b5e2a;
  color: white;
  border-radius: 0.375em;
  cursor: pointer;
  font-size: 1em;
  margin-top: 1.25em;
}
body .signupFrm .form .submitBtn:hover {
  background-color: #568455;
  transform: translateY(-0.25em);
}/*# sourceMappingURL=formulario.css.map */