@import "_variables";


@import "https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap";

body {
    margin: 0;
    padding: 0;
    font-family: 'Karantina', sans-serif;


    .contenedor {
        margin-top: 2%;
        background-color: $grisClaro;
        text-align: center;
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;

        .titulo {
            flex: 1;
            width: 50%;
            text-align: center;

            p {
                margin-left: 19%;
                width: 60%;
                color: $verdeOscuro;
                font-size: 350%;
            }

            img {
                width: 10%;
            }
        }

        @media screen and (max-width: 1000px) {
            .slide {

                display: none;
            }
        }

        .slide {
            margin-top: 2%;
            margin-right: 3%;
            flex: 1;
            text-align: center;
            position: relative;
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);

            .slide-inner {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: calc(300px + 3em);

                .slide-open:checked+.slide-item {
                    position: static;
                    opacity: 100;
                }

                .slide-item {
                    position: absolute;
                    opacity: 0;
                    -webkit-transition: opacity 0.6s ease-out;
                    transition: opacity 0.6s ease-out;


                    img {
                        display: block;
                        height: auto;
                        max-width: 100%;
                    }
                }

                .slide-control {
                    background: rgba(0, 0, 0, 0.28);
                    border-radius: 50%;
                    color: $blanco;
                    cursor: pointer;
                    display: none;
                    font-size: 40px;
                    height: 40px;
                    line-height: 35px;
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translate(0, -50%);
                    cursor: pointer;
                    -ms-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                    text-align: center;
                    width: 40px;
                    z-index: 10;
                }

                .prev {
                    left: 2%;
                }

                .next {
                    right: 2%;
                }

                .slide-control:hover {
                    background: rgba(0, 0, 0, 0.8);
                    color: $gris;
                }

                #slide-1:checked~.control-1,
                #slide-2:checked~.control-2,
                #slide-3:checked~.control-3 {
                    display: block;
                }

                .slide-indicador {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    bottom: 2%;
                    left: 0;
                    right: 0;
                    text-align: center;
                    z-index: 10;


                    .slide-indicador li {
                        display: inline-block;
                        margin: 0 5px;
                    }
                }

                .slide-circulo {
                    color: $gris;
                    cursor: pointer;
                    display: block;
                    font-size: 35px;
                }

                .slide-circulo:hover {
                    color: $grisClaro;
                }


                #titulo {
                    width: 100%;
                    position: absolute;
                    padding: 0px;
                    margin: 0px auto;
                    text-align: center;
                    font-size: 27px;
                    color: rgba(255, 255, 255, 1);
                    font-family: 'Open Sans', sans-serif;
                    z-index: 9999;
                    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
                        -1px 0px 2px rgba(255, 255, 255, 0);
                }
            }
        }
    }


    .bordered {
        border-bottom: 4px solid $verdeOscuro;
    }

    .row-container {
        font-size: 150%;
        display: flex;
        margin-top: 3.5%;
        margin-bottom: 2.5%;

        .col-container1 {
            margin-left: 1%;
            justify-content: flex-start;
            text-align: center;

            img {
                width: 20%;
            }

        }

        .col-container2 {
            justify-content: center;
            text-align: center;

            img {
                width: 20%;
            }
        }

        .col-container3 {
            justify-content: flex-end;
            text-align: center;

            img {
                width: 20%;
            }
        }
    }

    .row-container-especialidades {
        font-size: 250%;
        background-color: $grisClaro;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $grisClaro;

        .col-container4 {
            margin-top: 3.5%;
            margin-bottom: 2.5%;
            text-align: center;

            img {
                width: 30%;
            }
        }

        .col-container5 {
            margin-top: 3.5%;
            margin-bottom: 2.5%;
            text-align: center;

            img {
                width: 30%;
            }
        }
    }
    .audio{
        text-align: center;
        margin: 3%;
        .title{
            font-size: 350%;
            color: $negro;
        }
        .estiloAudio {
            margin-top: 2%;
            svg {
                color: $verdeOscuro;
                width: 5%;
                height: auto;
            }
            }
    }
    footer {
        background-color: $grisClaro;

        .pieDePagina {
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 350%;
            color: $verdeOscuro;
        }
        
    }
}