body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("medicos.jpg");
  background-size: cover;
}

.calendario {
  width: 350px;
  margin: 10% auto 5%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.mes {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
}

.dias-semana {
  display: flex;
  justify-content: space-between;
  background-color: #67df95;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.anterior-mes {
  color: #5c5f5c;
}

.dias > div {
  background-color: #a5ffc3;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

img {
  width: 25px;
}

.boton {
  color: rgb(55, 54, 54);
  background-color: #4caf50;
  border-color: #2b5e2a;
  display: block;
  margin: 15px auto;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.boton:hover {
  background-color: #2b5e2a;
  border-color: #4caf50;
}
