@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #4e4d4d;
  background-image: url(medicos.jpg);
  background-size: cover;
  background-position: center;
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: white;
  width: 70%;
  height: 80;
  max-width: 40em;
  border-radius: 1.6em;
  padding: 5% 8%;
  box-shadow: 0 0.625em 1.5em rgba(92, 99, 105, 0.2);
}

.title {
  font-size: 200%;
  margin-bottom: 2em;
  color: #2b5e2a;
}

a:link {
  color: #2b5e2a;
}

a:visited {
  color: white;
}

.inputContainer {
  position: relative;
  height: 3.125em;
  margin-bottom: 0.9375em;
}

.input {
  width: 100%;
  height: 100%;
  border: 0.0625em solid #2b5e2a;
  border-radius: 0.4375em;
  font-size: 1em;
  padding: 0 0.9375em;
  outline: none;
  background: none;
}

::placeholder {
  color: #ccc;
}

.label {
  position: absolute;
  top: -0.75em;
  left: 0.9375em;
  font-size: 0.8em;
  color: #2b5e2a;
  transition: 0.3s ease-out;
  background-color: white;
  padding: 0 0.3125em;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 0.625em 1.25em;
  border: none;
  background-color: #2b5e2a;
  color: white;
  border-radius: 0.375em;
  cursor: pointer;
  font-size: 1em;
  margin-top: 1.25em;
}

.submitBtn:hover {
  background-color: #599b58;
  transform: translateY(-0.25em);
}

.input:focus + .label,
input:not(:placeholder-shown) + .label {
  top: -0.75em;
  font-size: 0.8em;
  background-color: white;
  padding: 0 0.3125em;
  color: #2b5e2a;
}

.input:focus {
  border: 0.125em solid #2b5e2a;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin-left: -10%;
}

.logo {
  width: 20%;
}

.separador {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
